.wrapper {
  text-align: center;
  margin: 200px auto 50px auto;
}

.burger {
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding-top: 11.11%;
  display: block;
  z-index: 101;
}
.burger .one,
.burger .two,
.burger .three {
  background: #258ecd;
  width: 70%;
  margin-top: 11.11%;
  margin-bottom: 11.11%;
  margin-left: 15%;
  height: 11.11%;
  position: relative;
  border-radius: 2px;
}
